* {
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #afafaf #ffffff8d;
}

html {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 0.15) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 0.15) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 0.15) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 0.15) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 0.15) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 0.15) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 0.15) 0px, transparent 50%);
}

html.dark {
  /* background: black;
  background-image: url("/dark_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; */

  background: radial-gradient(hsl(255, 18%, 35%), hsl(198, 32%, 8%));
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #9191918d;
  margin-top: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 12rem;
  background: #afafaf;
}